---
layout: default
title: "MISSING: Duke"
description: "My dog Duke is missing. Please help me find him and bring him home."
---

.bulletin
	a(href=getUrl("/img/duke/duke-flyer.pdf") download="REWARD-duke-missing.pdf")
		img(src=getUrl("/img/duke/duke-flyer.png"))

p
	| My dog Duke is missing. He's been out with no collar on since about 9pm last
	| night (7/27/15). He's a 13 year old, 45 lb Terrier mix with a brindle coat.
	| His colors are tan, gray, and white. He has a brown nose and hazel eyes, and
	| one of his ears has a notch in it where he had a large mole removed a long
	| time ago. He's very sweet and obeys most basic commands. He's my special boy
	| and he's been my family for 11 years. I am offering a reward for his safe
	| return. Please help me get my boy back.