---
layout: default
title: "FOUND: Duke"
description: "My dog Duke went missing, but he's OK. Thank goodness for kind strangers."
---

h3 Edit: 1/28/15
p
	| My boy has been found! Thank you to the wonderful staff at 
	a(href="http://www.hillmeadeapartments.com/")
		t Hillmeade Apartments
	| . You've just healed my heart. And thank you to all my friends and neighbors in
	| Nashville. You were all so supportive; it was touching even in the midst of my panic.

.important
	p My home is whole again!

a.btn.btn-primary(data-toggle="collapse" href="#oldPost" aria-expanded="false" aria-controls="oldPost")
	t View Original Flyer

#oldPost.collapse.embedded
	.well
		.bulletin
			a(href=getUrl("/img/duke/duke-flyer.pdf") download="REWARD-duke-missing.pdf")
				img(src=getUrl("/img/duke/duke-flyer.png"))

		p
			| My dog Duke is missing. He's been out with no collar on since about 9pm last
			| night (1/27/15). He's a 13 year old, 45 lb Terrier mix with a brindle coat.
			| His colors are tan, gray, and white. He has a brown nose and hazel eyes, and
			| one of his ears has a notch in it where he had a large mole removed a long
			| time ago. He's very sweet and obeys most basic commands. He's my special boy
			| and he's been my family for 11 years. I am offering a reward for his safe
			| return. Please help me get my boy back.

		p
			| He was last seen in the 
			a(href="https://goo.gl/maps/s0ize" target="_blank")
				t Hillmeade Apartment complex located at 6800 Hwy 70 S.
			|  This information has been distributed to the Nashville Humane Society as well
			| as several shelters and clinics in the area. Any information or assistance
			| will be greatly appreciated.