---
title: Art Gallery
layout: page
tags: ['art', 'gallery']
pageOrder: 3
---

.carousel.slide#image-carousel(data-ride="carousel")

	.carousel-inner
		each image,index in getCollection('gallery').toJSON()
			.item(class=index === 0 ? "active" : "")
				img(src=getUrl(image.url) alt=getImageTitle(image.basename))
				.carousel-caption
					h3= getImageTitle(image.basename)

	a.left.carousel-control(href="#image-carousel" role="button" data-slide="prev")
		span.glyphicon.glyphicon-chevron-left
	a.right.carousel-control(href="#image-carousel" role="button" data-slide="next")
		span.glyphicon.glyphicon-chevron-right