---
layout: default
title: '404 Not Found'
---

.jumbotron
  h1 404 Not Found
  p Ooops! It looks like the document you requested couldn't be found.
  p
    | Perhaps you'll find what you're looking for if you 
    a(href="#{site.url}")
      t start over
    | .
