--- yaml
layout: 'default'
title: 'Home'
---

.jumbotron
  h1 Hi, I'm John.
  p
    | If you're reading this, chances are I handed you one of my cards, or you followed 
    a(href="#{site.profile}") my LinkedIn profile 
    | here.
  p
    | Welcome, and please 
    a(href="mailto:#{site.email}") let me know 
    | if you have questions this site doesn't answer.

// Example row of columns.
.row
  .col-md-4
    img(src="/profile/gravatar_large.jpg")
  .col-md-2
  .col-md-6
    p
      | <a class="twitter-timeline" href="https://twitter.com/john_batte" data-widget-id="538411913848569857">Tweets by @john_batte</a>
      | <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
