---
layout: default
title: "ASL"
description: "Watch my understanding of ASL evolve as I send little messages to my Mom"
---

p
	| My Mom is deaf, and she's so good at reading lips that none of her kids are as good at
	| sign language as we should be! I'm the worst, but I've decided that this year, all of that
	| ends. I'm learning to use ASL like a pro, starting right now!

p
	| Mom, this page is dedicated to you. Every day I have time, I'm going to upload a new
	| video here where I send you little messages in ASL. Eventually I'll build up a great
	| vocabulary, and whenever we are together we'll be able to talk as much as we want.
	| I love you!!

h4 1/26/15: Miss you, Mom.

video(controls)
	source(src=getUrl("/vid/i-miss-you.mp4") type="video/mp4")
	source(src=getUrl("/vid/i-miss-you.ogv") type="video/ogg")