---
layout: default
title: "ASL"
description: "Messages to my Mom"
---

h4 Miss you, Mom.

video(controls)
	source(src=getUrl("/vid/i-miss-you.mp4") type="video/mp4")
	source(src=getUrl("/vid/i-miss-you.ogv") type="video/ogg")
